<div class="authorization__container">
  <section class="authorization">
    <div class="auth-nav">
      <button routerLinkActive="btn-active" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="accent"
        routerLink="login">
        {{ 'login.login' | translate }}
      </button>
      <button routerLinkActive="btn-active" mat-stroked-button color="accent" routerLink="register"
        [routerLinkActiveOptions]="{exact:true}">{{ 'login.registration' | translate }}</button>
    </div>
    <router-outlet></router-outlet>
  </section>
</div>
