<div class="authorization__container">
  <section class="authorization">
    <div class="auth-nav">
      <button routerLinkActive="btn-active" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="accent"
        routerLink="login">
        Login
      </button>
      <button routerLinkActive="btn-active" mat-stroked-button color="accent" routerLink="register"
        [routerLinkActiveOptions]="{exact:true}">Registration</button>
    </div>
    <router-outlet></router-outlet>
  </section>
</div>
