<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="sidebarService.open()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
  </button>
  <span class="rslang">RS-Lang</span>
  <span class="example-spacer"></span>
  <div class="langs">
    <span class="lang" (click)="data.setLanguage('ru')" [class.active]="data.lang === 'ru'">{{ 'languages.russian' |
      translate }}</span> /
    <span class="lang" (click)="data.setLanguage('en')" [class.active]="data.lang === 'en'">{{ 'languages.english' |
      translate }}</span>
  </div>
  <div class="loginfo">
    <div class="name">{{ this.data.userName | translate }}</div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      routerLink="/autorization/login" *ngIf="!this.authorizationService.isAuth">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button class="logout" title="Выйти" routerLink="/autorization/login" *ngIf="this.authorizationService.isAuth"
      (click)="this.authorizationService.logout()">
      <i class="fa-sharp fa-solid fa-right-from-bracket logout-icon"></i>
    </button>
  </div>

</mat-toolbar>