<mat-toolbar >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidebarService.open()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
    </button>
    <span>RS-Lang</span>
    <span class="example-spacer"></span>
    <div class="user">
      <div>{{name}}</div>
      <!-- <div>{{name}}</div> -->
    </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/autorization/login">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>