<div class="team">
    <h2>Наша команда</h2>
    <div class="team__container">
        <div class="team__cards">
            <img class="ava" src="../../assets/icons/ava1.png" alt="ava">
            <div class="about">
                <h4>FarAK10</h4>
                <div class="hero__position">Team leader, Frontend developer</div>
                <span>Did basic project settings, initial layout, redux setup, router setup, login form, part of the TextBook page, "Audio Challenge" game, "Savannah" game, backend</span>
                <a href="https://github.com/FarAK10"><img class="github__logo" src="../../assets/icons/gh.svg" alt="logo"></a>
            </div>
        </div>
        <div class="team__cards">
            <img class="ava" src="../../assets/icons/ava2.png" alt="ava">
            <div class="about">
                <h4>dimitrianderi</h4>
                <div class="hero__position">Frontend developer</div>
                <span>Did basic project settings, initial layout, redux setup, router setup, login form, part of the TextBook page, "Audio Challenge" game, "Savannah" game, backend</span>
                <a href="https://github.com/dimitrianderi"><img class="github__logo" src="../../assets/icons/gh.svg" alt="logo"></a>
            </div>
        </div>
        <div class="team__cards">
            <img class="ava" src="../../assets/icons/ava3.png" alt="ava">
            <div class="about">
                <h4>jaha-iskhakov</h4>
                <div class="hero__position">Frontend developer</div>
                <span>Did basic project settings, initial layout, redux setup, router setup, login form, part of the TextBook page, "Audio Challenge" game, "Savannah" game, backend</span>
                <a href="https://github.com/jaha-iskhakov"><img class="github__logo" src="../../assets/icons/gh.svg" alt="logo"></a>
            </div>
        </div>
    </div>
</div>