<ul>
    <li>
      <a class="underline-one" routerLink="" (click)="sidebarService.open()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="text_dec">home</mat-icon>
        Главная
      </a>
    </li>
    <li>
      <a class="underline-one" routerLink="/tutorial" (click)="sidebarService.open()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">format_color_text</mat-icon>
        Эпектронный учебник
      </a>
    </li>
    <li>
      <a class="underline-one" routerLink="/games" (click)="sidebarService.open()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">games</mat-icon>
        Мини-игры
      </a>
    </li>
    <li>
      <a class="underline-one" href="#">
        <mat-icon aria-hidden="false" aria-label="Example home icon">bar_chart</mat-icon>
        Статистика
      </a>
    </li>
  </ul>