.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-image: 
        url(../../assets/icons/Vector.svg), 
        url(../../assets/icons/Bloobs.svg), 
        url(../../assets/icons/Bloobs_right.svg),
        url(../../assets/icons/Bloobs.svg),
        url(../../assets/icons/Bloobs_right_down.svg);
    background-position: 
        right 0 top 0, 
        left 0 top 20rem, 
        right 0 top 80rem, 
        left 0 top 110rem,
        right 0 top 154rem;
    background-repeat: no-repeat;

}
.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 1rem;
}
h1{
    color: #56597A;
    font-size: 4rem;
    font-weight: 500;
}
.title{
    color: #56597A;
    font-size: 1.2rem;
    font-weight: 500;

}
.text{
    font-size: 1.2rem;
    font-weight: 400;
}
.advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards__container{
    display: flex;
    max-width: 44rem;
    gap: 2rem;
    flex-wrap: wrap;
    // margin: 4rem 2rem;
}

h2{
    color: #56597A;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 4rem;
    margin: 0;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
    min-width: 18rem;
    min-height: 21rem;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
    box-shadow: #56597A 0 0 1rem;
}
h3{
    font-weight: 500;
}
mat-icon{
    font-size: 3rem;
    color: #F78CB6;
    // height: 3rem;
    width: 100%;
    height: 100%;
}
.description{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ava{
    width: 10rem;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.team__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    // box-sizing: border-box;
}
.team__cards{
    display: flex;
    max-width: 50%;
    width: 100%;
    gap: 2rem;
    box-shadow: #56597A 0 0 1rem;
    border-radius: 2rem;
    padding: 2rem;

}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h4{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #56597A;
}
.hero__position{
    margin-bottom: 1rem;
}
.github__logo{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;


}
a{
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    :hover{
        width: 3.4rem;
        height: 3.4rem;
        transition: all 0.2s ease-in-out;
    }

}