<div class="statistics__container">
  <h2>Статистика за сегодня</h2>
  <div class="cards__container">
    <div class="card">
      <div class="icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon">local_library</mat-icon>
      </div>
      <h3>Слова</h3>
      <div class="sts">
        <div class="description">Изучено: {{this.learnWords}} слов</div>
        <div class="circle">
          <circle-progress class="circular-bar" [percent]="allLearnedWords" [radius]="55" [outerStrokeWidth]="6"
            [innerStrokeWidth]="3" [outerStrokeColor]="' #3f51b5'" [innerStrokeColor]="'#ff4081'" [animation]="true"
            [animationDuration]="300">
          </circle-progress>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon">directions_run</mat-icon>
      </div>
      <h3>Спринт</h3>
      <div class="sts">
        <div class="description">Изучено: {{this.sprintWords}} слов</div>
        <div class="description">Правильных ответов: {{this.sprintPercent}}%</div>
        <div class="description">Самая длинная серия правильных ответов: {{this.sprintSeries}}</div>
      </div>
    </div>
    <div class="card">
      <div class="icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon">queue_music</mat-icon>
      </div>
      <h3>Аудио-вызов</h3>
      <div class="sts">
        <div class="description">Изучено: {{this.audioWords}} слов</div>
        <div class="description">Правильных ответов: {{this.audioPercent}}%</div>
        <div class="description">Самая длинная серия правильных ответов: {{this.audioSeries}}</div>
      </div>
    </div>
  </div>
</div>