@import '../../../../styles/constants.scss';

.result {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  height: 400px;
  background-color: $grey;
  padding: 15px;
  overflow-y: scroll;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: '';
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: gainsboro;
    }

    .title {
      margin: 0;
      font-size: 35px;
    }

    .btn {
      width: 120px;
      height: 60px;
      font-size: large;
    }
  }

  &__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .circle {
      text-align: center;

      &__accuracy {
        margin: 0;
        font-size: 20px;
      }
    }
    .statista-list {
      &__info {
        font-size: 20px;
        position: relative;

        .words-number {
          color: $pink;
        }

        &::before {
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          background-color: $blue;
          left: -15px;
          top: 5px;
          border-radius: 50%;
        }
      }
    }
  }
  &__words {
    margin-top: 20px;
    &-header {
      color: gray;
      font-size: 25px;

      .words-number {
        color: $pink;
      }
    }
  }
}
