<div class="home">
    <div class="introduction">
        <div class="container">
            <h1>RS Lang</h1>
            <div class="title">{{ 'layout.title' | translate }}</div>
            <div class="text">{{ 'layout.text' | translate }}</div>
        </div>
        <img src="../../assets/icons/Hero Image.svg" alt="hero">
    </div>
    <app-card></app-card>
    <div class="video">
        <h2>{{ 'layout.intro' | translate }}</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/90lr-wXAI2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <app-team-card></app-team-card>
</div>
