<div class="home">
    <div class="introduction">
        <div class="container">
            <h1>RS Lang</h1>
            <div class="title">Изучение английского еще никогда не было таким простым</div>
            <div class="text">Запоминание английских слов может быть увлекательным и сложным. Играйте в игры, слушайте произношение, совершенствуйте свои знания. С нашим приложением обучение становится радостью.</div>
        </div>
        <img src="../../assets/icons/Hero Image.svg" alt="hero">
    </div>
    <app-card></app-card>
    <div class="video">
        <h2>Знакомство с приложением</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kXYiU_JCYtU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <app-team-card></app-team-card>
</div>
