<mat-sidenav-container>
  <mat-sidenav [(opened)]="sidebarService.opened" mode="over">
    <ul class="menu">
      <li><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><a href="#">Главная</a></li>
      <li><mat-icon aria-hidden="false" aria-label="Example home icon">format_color_text</mat-icon><a href="#">Эпектронный учебник</a></li>
      <li><mat-icon aria-hidden="false" aria-label="Example home icon">games</mat-icon><a href="#">Мини-игры</a></li>
      <li><mat-icon aria-hidden="false" aria-label="Example home icon">bar_chart</mat-icon><a href="#">Статистика</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>