@import './constants.scss';

.cards {
    padding: 70px 0 50px 0;
    width: 100%;
    @media (max-width: 700px) {
        padding: 50px 0 20px 0;
    }
    @media (max-width: 550px) {
        padding: 30px 0 20px 0;
    }
    @media (max-width: 430px) {
        padding: 20px 0 20px 0;
    }

    .cards__menu {
        width: 100%;
        margin: auto;
        border-radius: 10px;
        background: $light-pink;
        padding: 20px 150px;
        display: flex;
        justify-content: space-around;
        position: relative;
        @media (max-width: 1150px) {
            padding: 20px 100px;
        }
        @media (max-width: 1050px) {
            padding: 20px 50px;
        }
        @media (max-width: 950px) {
            padding: 20px 0;
            justify-content: space-around;
        }
        @media (max-width: 650px) {
            padding: 10px 0;
        }
        @media (max-width: 550px) {
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(auto-fill, 200px);
            gap: 10px;
        }
        @media (max-width: 530px) {
            grid-template-columns: repeat(auto-fill, 150px);
        }
        @media (max-width: 430px) {
            grid-template-columns: repeat(auto-fill, 120px);
            padding: 10px 0;
        }
        @media (max-width: 350px) {
            grid-template-columns: repeat(auto-fill, 100px);
            padding: 10px 0;
        }

        .flower-left,
        .flower-right {
            position: absolute;
            height: 100px;
            bottom: 0;
            left: -80px;
            z-index: -1;
            @media (max-width: 1220px) {
                display: none;
            }
        }

        .flower-right {
            left: auto;
            right: -80px;
        }

        .cards__menu-item {
            width: 160px;
            padding: 10px;
            background: white;
            box-shadow: 0 0 10px $light-grey;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            transition: all .2s ease;
            @include font(18px, $pink, "Five-Italic", 700);
            @media (max-width: 850px) {
                width: 120px;
                @include font(16px, $pink, "Five-Italic", 700);
            }
            @media (max-width: 650px) {
                width: 110px;
                padding: 5px;
                @include font(16px, $pink, "Five-Italic", 700);
            }
            @media (max-width: 620px) {
                width: 100px;
                padding: 5px;
                @include font(14px, $pink, "Five-Italic", 700);
            }
            @media (max-width: 550px) {
                justify-self: center;
                width: 100%;
                padding: 10px;
                @include font(18px, $pink, "Five-Italic", 700);
            }
            @media (max-width: 530px) {
                width: 150px;
                @include font(16px, $pink, "Five-Italic", 700);
            }
            @media (max-width: 430px) {
                width: 100px;
                padding: 5px;
                @include font(14px, $pink, "Five-Italic", 700);
            }

            &:hover {
                box-shadow: 0 0 15px $pink;
            }

            &.disabled {
                background-color: $light-pink;
                cursor: default;

                &:hover {
                    box-shadow: 0 0 10px $light-grey;
                }
            }
        }
    }

    .cards__pagination {
        position: sticky;
        top: 0;
        margin-top: 20px;
        margin-left: -10px;
        width: calc(100% + 10px);
        padding: 20px;
        display: flex;
        gap: 25px;
        justify-content: center;
        background: white;
        z-index: 2;
        transition: all .3s ease;
        @media (max-width: 550px) {
            margin-top: 10px;
            gap: 10px;
        }
        @media (max-width: 400px) {
            margin-top: 0px;
        }

        &.enable {
            box-shadow: 0 5px 5px -5px $pink;
        }

        .cards__pagination-text {
            display: flex;
            justify-content: center;
            align-items: center;
            @include font(52px, $pink, "Ludvig van Bethoveen", 100);
            @media (max-width: 1180px) {
                @include font(45px, $pink, "Ludvig van Bethoveen", 100);
            }
            @media (max-width: 1120px) {
                @include font(36px, $pink, "Ludvig van Bethoveen", 100);
            }
            @media (max-width: 1050px) {
                @include font(30px, $pink, "Ludvig van Bethoveen", 100);
            }
            @media (max-width: 980px) {
                @include font(26px, $pink, "Ludvig van Bethoveen", 100);
            }
            @media (max-width: 940px) {
                display: none;
            }
        }

        .btn {
            @include btn(70px, 50px, 10px);
            box-shadow: 0 2px 3px 0px $pink;
            display: flex;
            justify-content: center;
            align-items: center;
            @include font(22px, $pink, "Post Human", 700);
            transition: all .3s ease;

            &:hover {
                box-shadow: 0 3px 10px 0px $pink;
            }

            &.disabled {
                box-shadow: 0 0 3px $pink;
                cursor: default;
                color: $light-pink;

                &:hover {
                    box-shadow: 0 0 3px 0px $pink;
                }
            }
        }

        .cards__pagination-page {
            @include btn(100px, 50px, 10px);
            color: $pink  !important;
        }
    }

    .cards__content {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        @media (max-width: 700px) {
            justify-content: center;
        }
        @media (max-width: 400px) {
            margin-top: 5px;
        }

        .example-margin {
            position: absolute;
            left: 50%;
            top: 50px;
            transform: translate(-50%);
        }

        .cards__items {
            width: calc(100% - 110px);
            position: relative;

            .cards__text {
                position: absolute;
                width: calc(100% - 110px);
                @include font(52px, $pink, "Sensei Medium", 700);
                text-align: center;
                width: 100%;
                display: flex;
                justify-content: center;
                top: 200px;
                left: 50%;
                transform: translate(-50%, 0);
                @media (max-width: 700px) {
                    width: 100%;
                }
            }

            .card__container {
                width: 100%;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 5px;
                border-radius: 10px;
                justify-content: space-around;
                display: grid;
                grid-template-columns: repeat(auto-fill, 450px);
                @media (max-width: 1160px) {
                    grid-template-columns: repeat(auto-fill, 400px); 
                }
                @media (max-width: 1060px) {
                    grid-template-columns: repeat(auto-fill, 350px); 
                }
                @media (max-width: 960px) {
                    grid-template-columns: repeat(auto-fill, 450px); 
                }
                @media (max-width: 550px) {
                    grid-template-columns: repeat(auto-fill, 400px); 
                }
                @media (max-width: 510px) {
                    grid-template-columns: repeat(auto-fill, 350px); 
                }
                @media (max-width: 400px) {
                    grid-template-columns: repeat(auto-fill, 275px); 
                }
            }

            .card {
                margin-top: 20px;
                height: 300px;
                object-fit: cover;
                -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0004);
                transform-origin: center;
                transform: perspective(800px) rotateY(25deg);
                transition: 0.2s;
                border-radius: 10px;
                padding: 7px;
                display: flex;
                flex-direction: column;
                position: relative;
                overflow: hidden;
                margin-bottom: 150px;
                @media (max-width: 1160px) {
                    height: 250px;
                    margin-bottom: 120px;
                }
                @media (max-width: 1060px) {
                    height: 220px;
                    margin-bottom: 70px;
                }
                @media (max-width: 960px) {
                    height: 300px;
                    margin-bottom: 100px;
                    transform: none;
                    margin-top: 0;
                }
                @media (max-width: 550px) {
                    height: 250px;
                    margin-bottom: 120px;
                }
                @media (max-width: 510px) {
                    height: 220px;
                    margin-bottom: 70px;
                }
                @media (max-width: 400px) {
                    height: 190px;
                    margin-bottom: 40px;
                }

                .black {
                    box-shadow: 0 2px 7px 0px black !important;
                }

                .card__img {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .card__img-img {
                        width: 97%;
                        height: 84%;
                        top: 55.5%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                        position: absolute;
                        bottom: 0;
                        z-index: -1;
                        border-radius: 10px;
                        overflow: hidden;
                        @media (max-width: 1160px) {
                            top: 57%;
                            height: 80%;
                        }
                        @media (max-width: 1060px) {
                            top: 58.5%;
                            height: 77%;
                        }
                        @media (max-width: 960px) {
                            top: 55.5%;
                            height: 84%;
                        }
                        @media (max-width: 550px) {
                            top: 57%;
                            height: 80%;
                        }
                        @media (max-width: 510px) {
                            top: 58.5%;
                            height: 77%;
                        }
                        @media (max-width: 400px) {
                            top: 59%;
                            height: 75%;
                        }
                    }
                }

                .card__info {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    border-radius: 10px;
                    padding: 3px 10px 5px 10px;
                    transition: all .2s ease;

                    .card__img-name {
                        @include font(18px, white, "Noto Sans Display Condensed", 100);
                        @media (max-width: 1160px) {
                            @include font(16px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 1060px) {
                            @include font(14px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 960px) {
                            @include font(18px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 550px) {
                            @include font(16px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 510px) {
                            @include font(14px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 400px) {
                            @include font(10px, white, "Noto Sans Display Condensed", 100);
                        }
                    }

                    .card__info-words {
                        align-self: center;
                        @include font(18px, white, "Noto Sans Display Condensed", 100);
                        @media (max-width: 1160px) {
                            @include font(16px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 1060px) {
                            @include font(14px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 960px) {
                            @include font(18px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 550px) {
                            @include font(16px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 510px) {
                            @include font(14px, white, "Noto Sans Display Condensed", 100);
                        }
                        @media (max-width: 400px) {
                            @include font(10px, white, "Noto Sans Display Condensed", 100);
                        }
                    }

                    .card__info-left,
                    .card__info-right {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }

                .card__text {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    padding: 14px 10px 10px 10px;
                    border-radius: 10px;
                    width: max-content;
                    max-width: 420px;
                    width: max-content;
                    background: rgb(255, 255, 255, .5);
                    margin: -1px;
                    border-bottom-left-radius: 0px;
                    height: max-content;
                    white-space: pre-wrap;
                    @include font(16px, black, "Noto Sans Display Condensed", 100);
                    @media (max-width: 1160px) {
                        max-width: 370px;
                        line-height: 15px;
                        padding: 12px 7px 7px 5px;  
                    }
                    @media (max-width: 1060px) {
                        max-width: 320px;
                        margin-top: 0;
                        margin-left: -2px;
                    }
                    @media (max-width: 960px) {
                        max-width: 420px;
                        margin: -1px;
                    }
                    @media (max-width: 550px) {
                        max-width: 370px;
                        line-height: 15px;
                        padding: 12px 7px 7px 5px; 
                    }
                    @media (max-width: 510px) {
                        max-width: 320px;
                        margin-top: 0;
                        margin-left: -2px;
                        @include font(14px, black, "Noto Sans Display Condensed", 100, 14px);
                    }
                    @media (max-width: 400px) {
                        max-width: 270px;
                        margin-top: 0;
                        margin-left: -2px;
                        @include font(10px, black, "Noto Sans Display Condensed", 100, 14px);
                    }

                    .card__info-ru,
                    .card__info-en {
                        white-space: pre-wrap;
                    }

                    .card__info-ru {
                        font-style: italic;
                    }
                }

                .card__row {
                    position: absolute;
                    bottom: 0;
                    margin-top: 160px;
                    background-color: rgb(255, 255, 255, .7);
                    margin-left: -1px;
                    width: 437px;
                    padding: 0 5px;
                    bottom: 20px;
                    @include font(16px, black, "Noto Sans Display Condensed", 100);
                    @media (max-width: 1160px) {
                        max-width: 387px;
                    }
                    @media (max-width: 1060px) {
                        max-width: 340px;
                        margin-left: -2px;
                    }
                    @media (max-width: 960px) {
                        width: 1000px;
                        left: 10px;
                        margin-left: -4px;
                        min-width: 437px;
                    }
                    @media (max-width: 550px) {
                        max-width: 387px;
                        min-width: 387px;
                        width: 387px;
                    }
                    @media (max-width: 510px) {
                        max-width: 340px;
                        min-width: 340px;
                        width: 340px;
                        margin-left: -5px;
                    }
                    @media (max-width: 400px) {
                        max-width: 266px;
                        min-width: 266px;
                        width: 266px;
                        margin-left: -6px;
                    }

                    .card__info-en {
                        font-style: italic;
                        margin-top: 10px;
                    }
                }
            }

            & .card:hover {
                transform: perspective(800px) rotateY(0deg);
                opacity: 1;
            }

        }

        .cards__levels {
            position: sticky;
            top: 106px;
            width: 90px;
            height: 500px;
            border-radius: 10px;
            box-shadow: 0 2px 7px 0px $pink;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            transition: all .3s ease;
            @media (max-width: 700px) {
                display: none;
            }

            &.enable {
                opacity: .3;

                &:hover {
                    opacity: 1;
                }
            }

            .cards__level-title {
                @include font(22px, $pink, "Five-Italic", 100);
            }

            .cards__levels-level {
                position: relative;
                padding: 5px 0 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                @include font(26px, white, "Post Human", 100);
                cursor: pointer;
                transition: all .3s ease;

                &::before {
                    content: '';
                    position: absolute;
                    width: 71px;
                    height: 71px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 10px solid white;
                }

                &:hover {
                    transform: rotate(30deg);
                    width: 70px;
                    height: 70px;
                }

                &.active {
                    width: 70px;
                    height: 70px;
                    transform: rotate(30deg);

                    &::before {
                        width: 50px;
                        height: 50px;
                        border: 4px solid white;
                    }
                }
            }
        }
    }
}

.btn-icon {
    width: 15px;
    height: 15px;
    color: white;
    display: none;

    &.active {
        display: block;
    }
}