@font-face {
	font-family: "Post Human";
	src: url("./../assets/fonts/post-human/post-human.eot"); /* IE9 Compat Modes */
	src: url("./../assets/fonts/post-human/post-human.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./../assets/fonts/post-human/post-human.otf") format("opentype"), /* Open Type Font */
		url("./../assets/fonts/post-human/post-human.svg") format("svg"), /* Legacy iOS */
		url("./../assets/fonts/post-human/post-human.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./../assets/fonts/post-human/post-human.woff") format("woff"), /* Modern Browsers */
		url("./../assets/fonts/post-human/post-human.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Sensei Medium";
	src: url("./../assets/fonts/sensei-medium/sensei-medium.eot"); /* IE9 Compat Modes */
	src: url("./../assets/fonts/sensei-medium/sensei-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./../assets/fonts/sensei-medium/sensei-medium.otf") format("opentype"), /* Open Type Font */
		url("./../assets/fonts/sensei-medium/sensei-medium.svg") format("svg"), /* Legacy iOS */
		url("./../assets/fonts/sensei-medium/sensei-medium.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./../assets/fonts/sensei-medium/sensei-medium.woff") format("woff"), /* Modern Browsers */
		url("./../assets/fonts/sensei-medium/sensei-medium.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}